div {
	&.filter-items {
		lsa-auto-complete,
		form {
			width: 100%;
		}

		form {
			padding-right: 1em;
		}

		::ng-deep.autocomplete {
			width: 100%;
			margin: 1em 10px 0 0;
		}

		.mat-form-field {
			width: 100%;
			margin: 1em 0 0 10px;
		}
	}
}
