<div [formGroup]="form">
  <mat-form-field class="autocomplete">
    <input type="text" *ngIf="isRequired" matInput placeholder="{{this.placeholder}}" required [matAutocomplete]="matAutocomplete"
      formControlName="{{this.field}}" [errorStateMatcher]="customErrorStateMatcher" #trigger="matAutocompleteTrigger">
    <input type="text" *ngIf="!isRequired" matInput placeholder="{{this.placeholder}}" [matAutocomplete]="matAutocomplete"
      formControlName="{{this.field}}" [errorStateMatcher]="customErrorStateMatcher" #trigger="matAutocompleteTrigger">
    <mat-autocomplete [autoActiveFirstOption]="true" #matAutocomplete="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let obj of filteredList" [value]="obj.id">
        {{obj[this.lookupField]}}
      </mat-option>
    </mat-autocomplete>
    <button mat-button *ngIf="showAddButton" mat-icon-button matSuffix (click)="add($event)">
      <mat-icon>add</mat-icon>
    </button>
    <mat-error [hidden]="form.get(this.field).hasError('required')">
      El evento es requerido.
    </mat-error>
  </mat-form-field>
</div>