<div [formGroup]="form">
  <mat-form-field class="events">
    <input type="text" matInput placeholder="Eventos" required [matAutocomplete]="matAutocomplete"
      formControlName="event">
    <mat-autocomplete [autoActiveFirstOption]="true" #matAutocomplete="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let event of filteredEvents" [value]="event">
        {{event.eventName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="margin--top filter">
    <input matInput placeholder="Filtrar" formControlName="search">
  </mat-form-field>
</div>